{% extends "_layout/layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align">Phòng chat - Nơi trao đổi của mọi người</h2>
      </div>

      <div id="chat">
          <input id="username" type="text" name="username" value="{{ user.username }}" hidden>
        <div id="messages" style="height: 500px;">
    
        </div>
        <br>
        <div class="input-field col s12">
          <textarea id="textarea" class="materialize-textarea"></textarea>
          <label for="textarea">Noi dung chat</label>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block jsLib %}
  <script src="/socket.io/socket.io.js"></script>
{% endblock %}
{% block jsCustom %}
  <script>
  (function (cbFn) {
      cbFn(window.jQuery, window)
    })(function cbFn($, window) {
      $(chatRoomReady)

      function chatRoomReady() {
        var socket = io()

        $('#textarea').trigger('autoresize')

        var username = $('input[name="username"]').val()
        if (!username) {
          username = 'An danh'
        }
        var $chatMessage = $('#textarea')
        var $roomChat = $('#messages')
        
        $chatMessage.on('keydown', submitMessage)
        socket.on('output', displayChatMessage)
        function submitMessage(event) {
          if (event.which === 13 && event.shiftKey == false) {
            var content = $chatMessage.val()
            $chatMessage.val('')
            socket.emit('chat:message', { username, content })
          }
        }
        
        function displayChatMessage(data) {
          if (data.length) {
            for (let i = 0; i < data.length; i++) {
              $roomChat.append(`<p><strong>${data[i].username}</strong>: ${data[i].content}</p>`)
            }
          }
        }
        
      }
    })
  </script>
  <!-- <script src="/js/sockets.io"></script> -->
{% endblock %}
