.card-news {
  padding: 30px;
  box-shadow: none;
}
.news-list {
  margin-top: 30px;  
}

.image-news {
  margin-right: 40px;
  max-width: 25% !important;
}

.image-news img {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.image-news a {
  display: block;
  overflow: hidden;
}
.image-news img:hover {
  transform: scale(1.2);
}

.news-card-action {
  border-bottom: 1px solid rgba(160,160,160,0.2);
  border-top: none !important;
}

a.inverse {
  color: #151515;
}

a.inverse:hover, a.inverse:active, a.inverse:focus {
  color: #42a5f5;
}

.card-content h2 {
  margin: 0px 0px 30px 0px;
}
.card .card-title {
  font-weight: 400;
}

@media (max-width: 640px) {
  .card.horizontal {
    display: block;  
  }
  .card.horizontal .card-image {
    margin: 0px;
    max-width: 100% !important;
  }
  .card-news {
    padding: 10px;
    margin: 10px 0px;
  }
  .card-news-detail {
    padding: 10px !important;
  }
}

.item-title {
  color: #151515;
  font-size: 2.6rem;
  font-weight: 400;
  text-transform: none;
}

.card-news-detail {
  padding: 60px;
  box-shadow: none;
}
