{% extends "_layout/admin.layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="card">
      <img class="card-img-top" src="/admin/img/home/news.jpg">
      <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            <a href="/">
              <div class="quick-stats__item bg-light-blue">
                <div class="quick-stats__info">
                  <h2>{{ totalDeleleExams }}</h2>
                  <small>Bài viết đã ẩn</small>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-6">
            <a href="/">
              <div class="quick-stats__item bg-amber">
                <div class="quick-stats__info">
                  <h2>{{ totalPublishExams }}</h2>
                  <small>Đã xuất bản</small>
                </div>
              </div>
            </a>
          </div>

          <div class="col-6">
            <a href="{{ router.url('get:add:news') }}" class="btn btn-outline-success waves-effect btn-block">
              Tạo mới tin tức
            </a>
          </div>

          <div class="col-6">
            <a href="/news/list" class="btn btn-outline-info waves-effect btn-block">
              Danh sách tin tức
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="/admin/img/home/exam.jpg">
      <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            <a href="/">
              <div class="quick-stats__item bg-light-blue">
                <div class="quick-stats__info">
                  <h2>{{ totalDeleleExams }}</h2>
                  <small>Bài thi đã ẩn</small>
                </div>
              </div>
            </a>
          </div>

          <div class="col-md-6">
            <a href="/">
              <div class="quick-stats__item bg-amber">
                <div class="quick-stats__info">
                  <h2>{{ totalPublishExams }}</h2>
                  <small>Danh sách bài thi</small>
                </div>
              </div>
            </a>
          </div>

          <div class="col-6">
            <a href="/add-exams.html" class="btn btn-outline-success waves-effect btn-block">
              Tạo mới bài thi
            </a>
          </div>
          <div class="col-6">
            <a href="/" class="btn btn-outline-info waves-effect btn-block">
              Danh sách bài thi
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scriptLib %}
<!-- Charts and maps-->
<script src="/admin/demo/js/flot-charts/curved-line.js"></script>
<script src="/admin/demo/js/flot-charts/line.js"></script>
<script src="/admin/demo/js/flot-charts/chart-tooltips.js"></script>
<script src="/admin/demo/js/other-charts.js"></script>
<script src="/admin/demo/js/jqvmap.js"></script>
{% endblock %}
