{% extends "_layout/layout.html" %}
{% block content %}
{% include "_layout/nav-bar.html" %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="center-align">Thông tin cá nhân</h2>
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="{{ user.avatar }}" alt="" class="circle">
          <span class="title">Title</span>
          <p>First Line
            <br> Second Line
          </p>
          <a href="#!" class="secondary-content">
            <i class="material-icons">grade</i>
          </a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">folder</i>
          <span class="title">Title</span>
          <p>First Line
            <br> Second Line
          </p>
          <a href="#!" class="secondary-content">
            <i class="material-icons">grade</i>
          </a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">insert_chart</i>
          <span class="title">Title</span>
          <p>First Line
            <br> Second Line
          </p>
          <a href="#!" class="secondary-content">
            <i class="material-icons">grade</i>
          </a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle red">play_arrow</i>
          <span class="title">Title</span>
          <p>First Line
            <br> Second Line
          </p>
          <a href="#!" class="secondary-content">
            <i class="material-icons">grade</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
