{% extends "_layout/layout.html" %}

{% block content %}
{% include "_layout/nav-bar.html" %}
<div class="container">
  <div class="row">
    <h3 class="center-align">ĐỀ THI CÁC MÔN</h3>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/math.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Môn Toán
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            Chào mừng bạn đến với chủ đề TOÁN HỌC
          </p>
        </div>
        <div class="card-action">
          <a href="/home/math">Thử sức thôi nào...</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i>Môn Toán</span>
          <p>Đây là bộ môn cực kì quan trọng trong các kì thi. Bạn hãy cố gắng chuẩn bị thật kỹ kiến thức để làm bài thi tốt nha. :)</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/ly.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Môn Vật Lý
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
             Chào mừng bạn đến với chủ đề VẬT LÝ
          </p>
        </div>
        <div class="card-action">
          <a href="/home/physic">Thử sức thôi nào...</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i>Môn Vật Lý</span>
          <p>Đây là bộ môn cực kì quan trọng trong các kì thi. Bạn hãy cố gắng chuẩn bị thật kỹ kiến thức để làm bài thi tốt nha.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/hoa.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Môn Hóa
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            Chào mừng bạn đến với chủ đề HÓA HỌC
          </p>
        </div>
        <div class="card-action">
          <a href="/home/chemistry">Thử sức thôi nào...</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i>Môn Hóa</span>
          <p>Đây là bộ môn cực kì quan trọng trong các kì thi. Bạn hãy cố gắng chuẩn bị thật kỹ kiến thức để làm bài thi tốt nha.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/sinh.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Môn Sinh Học
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            Chào mừng bạn đến với chủ đề SINH HỌC
          </p>
        </div>
        <div class="card-action">
          <a href="/home/biology">Thử sức thôi nào...</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i>Môn Sinh Học</span>
          <p>Đây là bộ môn cực kì quan trọng trong các kì thi. Bạn hãy cố gắng chuẩn bị thật kỹ kiến thức để làm bài thi tốt nha.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/anh.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Môn Tiếng Anh
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            Chào mừng bạn đến với chủ đề TIẾNG ANH
          </p>
        </div>
        <div class="card-action">
          <a href="/home/english">Thử sức thôi nào...</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i>Môn Tiếng Anh</span>
          <p>Đây là bộ môn cực kì quan trọng trong các kì thi. Bạn hãy cố gắng chuẩn bị thật kỹ kiến thức để làm bài thi tốt nha.</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/dia.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Môn Địa Lý
            <i class="material-icons right">more_vert</i>
          </span>
          <p>
            Chào mừng bạn đến với chủ đề ĐỊA LÝ
          </p>
        </div>
        <div class="card-action">
          <a href="#">Thử sức thôi nào...</a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <i class="material-icons right">close</i>Môn Địa Lý</span>
          <p>Đây là bộ môn cực kì quan trọng trong các kì thi. Bạn hãy cố gắng chuẩn bị thật kỹ kiến thức để làm bài thi tốt nha.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
