{% extends "_layout/layout.html" %}

{% block content %}
  <div class="parallax-container index-banner">

    <div class="parallax">
      <img src="/images/home.png">
    </div>
  </div>
  
  <div class="row container">
    <div class="col s12">
      <h3 class="black-text center-align about_us">VỀ BỌN MÌNH</h1>
    </div>
    <div class="col s12 m6">
      <div class="icon-block">
        <h2 class="center black-text">
          <i class="material-icons about_us">flash_on</i>
        </h2>
        <h5 class="center">Team</h5>
        <p class="light left-align">Facebook is an American for-profit corporation and an online social media and social networking service based in Menlo
          Park, California. The Facebook website was launched on February 4, 2004, by Mark Zuckerberg, along with fellow Harvard
          College students and roommates, Eduardo Saverin, Andrew McCollum, Dustin Moskovitz, and Chris Hughes.
        </p>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="icon-block">
        <h2 class="center black-text">
          <i class="material-icons about_us">group</i>
        </h2>
        <h5 class="center ">Team</h5>
        <p class="light left-align">Facebook is an American for-profit corporation and an online social media and social networking service based in Menlo
          Park, California. The Facebook website was launched on February 4, 2004, by Mark Zuckerberg, along with fellow Harvard
          College students and roommates, Eduardo Saverin, Andrew McCollum, Dustin Moskovitz, and Chris Hughes.</p>
      </div>
    </div>
  </div>
  
  <div class="parallax-container index-banner">
    <div class="parallax ">
      <img src="/images/home1.jpeg" alt="Home2">
    </div>
  </div>
{% endblock %}
